server:
  port: 8080

spring:
  application:
    name: library

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:library;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=CREATE SCHEMA IF NOT EXISTS LIBRARY\;SET SCHEMA LIBRARY
    username: sa
    password:
        
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        generate_statistics: true
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  output:
    ansi:
      enabled: always

logging:
  level:
    org.springframework: INFO
    com.ctos.dummy.library: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.stat: DEBUG